
            <!-- Section Started Heading -->
            <section class="lui-section" style="margin-top: 100px; padding-bottom: 20px;" id="works-section">
                <div class="lui-heading">
                    <div class="container">
                        <div class="m-titles align-center">
                            <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                                <span> Portfolio </span>
                            </h2>
                            <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                                <span>
                                    my <b>Cases</b>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Section - Works -->
            <section class="lui-section" id="works-section">
                <!-- Works -->
                <div class="v-line v-line-right" style="height: auto;">
                    <div class="container">
                        <div class="works-box" id="works-box">
                            <div class="filter-links scrolla-element-anim-1 scroll-animate" data-animate="active">
                                <a href="#" class="lui-subtitle active" data-href=".works-col"> All </a>
                                <a href="#" class="lui-subtitle" data-href=".sorting-accounting"> Accounting &amp; Bookkeeping </a>
                                <a href="#" class="lui-subtitle" data-href=".sorting-taxation"> Taxation </a>
                                <a href="#" class="lui-subtitle" data-href=".sorting-pro"> PRO </a>
                                <a href="#" class="lui-subtitle" data-href=".sorting-misc"> Misc. Services </a>
                            </div>
                            <div class="works-items works-masonry-items row ">
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-accounting  ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/NovaMed">
                                                    <img decoding="async" src="~/assets/images/Portfolio/Optimizing-finances.png" alt="Zorro">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Accounting &amp; Bookkeeping  </span>
                                            <h5 class="name">
                                                <a href="~/Home/NovaMed">Optimizing Finances for Healthcare Tech Providers NovaMed</a>
                                            </h5>
                                            <a href="~/Home/NovaMed" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-taxation  ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/FadaeiTradeC2">
                                                    <img decoding="async" src="~/assets/images/Portfolio/2nd-Card.png" alt="Financially Strong & Compliant">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Taxation  </span>
                                            <h5 class="name">
                                                <a href="~/Home/FadaeiTradeC2">Helping General Traders Stay Financially Strong & Compliant</a>
                                            </h5>
                                            <a href="~/Home/FadaeiTradeC2" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-pro  ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/MtaGlobalC3">
                                                    <img decoding="async" src="~/assets/images/Portfolio/3rd-card.png" alt="Building Strong Foundations">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> PRO  </span>
                                            <h5 class="name">
                                                <a href="~/Home/MtaGlobalC3">Building Strong Foundations for Long-Term Success</a>
                                            </h5>
                                            <a href="~/Home/MtaGlobalC3" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-misc  ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/DWiseC4">
                                                    <img decoding="async" src="~/assets/images/Portfolio/4th-card.png" alt="Tax Strategies">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> MISC. Services </span>
                                            <h5 class="name">
                                                <a href="~/Home/DWiseC4">Tax Strategies That Keep General Trading Profitable</a>
                                            </h5>
                                            <a href="~/Home/DWiseC4" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-accounting sorting-taxation ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/OpenFreightC5">
                                                    <img decoding="async" src="~/assets/images/Portfolio/5th-card.png" alt="Financial Management">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Accounting &amp; Bookkeeping , Taxation </span>
                                            <h5 class="name">
                                                <a href="~/Home/OpenFreightC5">Effortless Financial Management for OPEN FREIGHT SHIPPING SERVICES</a>
                                            </h5>
                                            <a href="~/Home/OpenFreightC5" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-accounting sorting-taxation ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/EuropeGulfC6">
                                                    <img decoding="async" src="~/assets/images/Portfolio/6th-Card.png" alt="Profitable & Tax-Compliant">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Accounting ,Bookkeeping , Taxation </span>
                                            <h5 class="name">
                                                <a href="~/Home/EuropeGulfC6">Helping Beauty Products Exporter Stay Profitable & Tax-Compliant</a>
                                            </h5>
                                            <a href="~/Home/EuropeGulfC6" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-accounting sorting-taxation sorting-pro">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/FreshFlowerC7">
                                                    <img decoding="async" src="~/assets/images/Portfolio/7th-card.png" alt="Finance Strategy">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Accounting &amp; Bookkeeping, Taxation, PRO  </span>
                                            <h5 class="name">
                                                <a href="~/Home/FreshFlowerC7">Helping FRESH FLOWERS TRADERS Stay on Top of Their Finances</a>
                                            </h5>
                                            <a href="~/Home/FreshFlowerC7" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-accounting sorting-taxation sorting-pro">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/RoyalNordicC8">
                                                    <!--Royal Nordic Beauty Salon  -->
                                                    <img decoding="async" src="~/assets/images/Portfolio/8th-card.png" alt="Financial Management">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Accounting &amp; Bookkeeping, Taxation, PRO </span>
                                            <h5 class="name">
                                                <a href=" RoyalNordicC8">Simplified Financial Management for Beauty Salon Operations</a>
                                            </h5>
                                            <a href="~/Home/RoyalNordicC8" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-accounting sorting-taxation ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href="~/Home/VintageCarC9">
                                                    <img decoding="async" src="~/assets/images/Portfolio/9th-card.png" alt="Financial Efficiency">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Accounting & Bookkeeping, Taxation, PRO </span>
                                            <h5 class="name">
                                                <a href=" VintageCarC9">Driving Financial Efficiency for Car Rental Businesses</a>
                                            </h5>
                                            <a href=" VintageCarC9" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-misc ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href=" DehvariC10">
                                                    <img decoding="async" src="~/assets/images/Portfolio/10th-card.png" alt="Personalized Tax Solutions">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Misc. Services </span>
                                            <h5 class="name">
                                                <a href=" DehvariC10">Personalized Tax Solutions for General Traders</a>
                                            </h5>
                                            <a href=" DehvariC10" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                                <div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-misc ">
                                    <div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
                                        <div class="image">
                                            <div class="img">
                                                <a href=" SarawanC11">
                                                    <img decoding="async" src="~/assets/images/Portfolio/11th-card.png" alt="Tax Efficiency with Sarawan">
                                                    <span class="overlay"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <span class="category"> Misc. Services </span>
                                            <h5 class="name">
                                                <a href=" SarawanC11">Maximize Your Tax Efficiency with Sarawan</a>
                                            </h5>
                                            <a href=" SarawanC11" class="lnk">See project</a>
                                        </div>
                                        <div class="bg-img" style="background-image: url('@Url.Content("~/assets/images/pat-2.png")');"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
